.DisplayPollForCreator-container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: var(--font-inter-ss);
	color: var(--secondary);
}

.poll-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.poll-info__title {
	text-align: center;
	width: 90%;
	font-size: clamp(1rem, 4vw, 2rem);
}

.poll-info__copy-url-bt {
	border: 0;
	outline: 0;
	border-radius: 99px;
	font-size: clamp(0.8rem, 2vw, 1.2rem);
	padding: 0.2em 0.3em 0.2em 0.6em;
	font-family: var(--font-inter-ss);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	line-height: 1;
	gap: 5px;
	background: var(--secondary);
}

.poll-info__copy-url-bt span {
	background: var(--primary-light);
	color: var(--secondary-dark);
	border-radius: 99px;
	padding: 0.1em 0.6em;
	font-size: 0.9em;
}

.poll-info__copy-url-bt:hover {
	background: var(--secondary-darker);
}

.poll-info__copy-url-bt:hover span {
	color: var(--secondary-darker);
}

.poll-info__copy-url-bt.--copy-url-anim {
	box-shadow: 0 0 0 0 var(--brand-lightest);
	animation: pulse 0.4s;
}

.timer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.timer-container__time-displayer {
	background: var(--secondary);
	color: var(--primary);
	font-size: clamp(1rem, 4vw, 1.4rem);
	padding: 0.2em 0.4em;
	border-radius: 5px;
}

.timer-container__controllers {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.timer-container__controllers button {
	border: 0;
	outline: 0;
	cursor: pointer;
	background: transparent;
	color: var(--secondary);
	border: 2px solid currentColor;
	font-size: clamp(0.9rem, 4vw, 1.2rem);
	padding: 0.2em 0.4em;
	width: 100px;
}

.timer-container__controllers button:disabled {
	opacity: 0.4;
	cursor: default;
}

.DisplayPollForCreator-container .votes-list {
	width: 90vw;
	max-width: 600px;
	height: max-context;
	max-height: 300px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

.votes-list > .vote-container {
	border: 2px solid var(--secondary-dark);
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: clamp(0.8rem, 4vw, 1.2rem);
	height: 70px;
}

.vote-container__option {
	flex: 1 1 auto;
	border-right: 1px solid var(--secondary-dark);
	background: var(--secondary-darker);
	color: var(--primary-light);
	padding: 0 5px;
	display: grid;
	place-items: center;
	overflow-x: hidden;
	overflow-y: auto;

	font-size: 1.1em;
	scrollbar-width: thin;
	scrollbar-color: var(--brand) transparent;
}

.vote-container__num-of-votes {
	flex: 0 0 auto;
	height: 100%;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	font-size: 1em;
	user-select: none;
}

.vote-container__option::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

.vote-container__option::-webkit-scrollbar-thumb {
	background: var(--brand);
}

.vote-container__option::-webkit-scrollbar-thumb:hover {
	background: var(--brand-lightest);
}

@keyframes pulse {
	to {
		box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.05);
	}
}
